.timetable ul {
  margin-bottom: $padding-small-vertical;
}

.bookmark {
  padding-left: ($table-cell-padding + 3) !important;
  position: relative;
}

.bookmark:after {
  content: '';
  height: 100%;
  width: 5px;
  position: absolute;
  left: 0;
  top: 0; 
  display: block;
  background-color: $gray-light;
}

.bookmark-md:after {
  width: 3px;
}

.bookmark-sm:after {
  width: 2px;
}

.bookmark-short:after {
  height: 84%;
  top: 8%; 
}

.bookmark-primary:after {
  background-color: $brand-primary;
}

.bookmark-success:after {
  background-color: $brand-success;
}

.bookmark-info:after {
  background-color: $brand-info;
}

.bookmark-warning:after {
  background-color: $brand-warning;
}

.bookmark-danger:after {
  background-color: $brand-danger;
}