$wireframe-mobile-width:   360px;
$wireframe-mobile-height:  600px;

.wireframe {
  border: 1px solid $gray-light;
}

.wireframe-mobile {
  width: 90%;
  max-width: $wireframe-mobile-width;
  height: 90%;
  max-height: $wireframe-mobile-height;
}

.wireframe-fixed {
  position: fixed;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
}