<div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle fa fa-lg fa-cog" style="color: #fff" data-toggle="collaapse" data-target="#navbar-main"></button>
      <a href="#" class="navbar-brand">devPlan</a>
    </div>
    <div class="collapse navbar-collapse" id="#nabar-main">
      <ul class="navbar-right navbar-nav nav">
        <li><a href="#">Ustawienia</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding: 0;">
  <div class="row">
    <div class="col-md-12">
      <table class="table timetable">
        <tbody ng-repeat="day in timetable" ng-include="'views/partials/activity_v1.html'">
        </tbody>
      </table>
    </div>
  </div>
</div>