<div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <i class="fa fa-lg fa-cog"></i>
      </button>
      <a href="#" class="navbar-brand">devPlan</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-right navbar-nav nav" ng-include="'views/partials/menu.html'">
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding: 0;">
  <div class="row">
    <div class="col-md-12">
      <table class="table timetable">
        <tbody ng-repeat="day in timetable" ng-include="'views/partials/activity_v4.html'">
        </tbody>
      </table>
    </div>
  </div>
</div>