<div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main" style="float: left;">
        <i class="fa fa-lg fa-bars" style="margin-left: 5px"></i>
      </button>
      <a href="#/dupa" class="navbar-brand" style="position: absolute; width:100%; left: 0; top: 5px; text-align: center; z-index:-9999">devPlan</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar navbar-nav nav" ng-include="'views/partials/menu_v1.html'">
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding: 0;">
  <div class="row">
    <div class="col-md-12" style="background-color: #F8FBFE; position: absolute; height: 100%; padding-top: 25%; margin-left: 15px;">
      <p class="text-center">
        <i class="fa fa-calendar" style="font-size: 10em; margin-bottom: 0.4em; color: #D7EAFD; text-shadow: -1px -1px rgba(161, 204, 246, 0.6);"></i>
      </p>
        <h4 class="text-center">Witaj w devPlanie!</h4>
        <p class="text-muted text-center">
          Aby zobaczyć swój plan zajęć, dodaj swoje grupy.
        </p>
          <p class="text-center">
          <a class="">Wybierz grupy</a>
        </p>
    </div>
  </div>
</div>